.note-columns{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#searchBox{
    width: 80%;
}

textarea{
    width: 100%;
    border: none;

}



// .note-list {
//     display: flex;
//     flex-flow: column wrap;
//     align-content: flex-start;
//     height: 100vw;

//     .note-list-item {
//         width: 33.33%;
//         flex-flow: 1 1 33.33% !important;    
    
//       }
//   }
  

    
//   /* Re-order items into 3 rows */
//   .note-list-item:nth-child(3n+1) { order: 1; }
//   .note-list-item:nth-child(3n+2) { order: 2; }
//   .note-list-item:nth-child(3n)   { order: 3; }
  
//   /* Force new columns */
//   .note-list::before,
//   .note-list::after {
//     content: "";
//     flex-basis: 100%;
//     width: 0;
//     order: 2;
//   }
