<div>
    <!-- Note search -->
    <nav class="navbar navbar-light bg-light">
        <div class="form-group" id="searchBox">
            <input type="text" class="form-control" placeholder="Search your note..." [(ngModel)]="searchNote">
        </div>
    </nav>

    <!-- Create/Edit Note component -->
    <app-note></app-note>
    <!-- ./Create/Edit Note component -->

    <!-- All Notes -->
    <div class="container">
        <div class="note-list" cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="note-list-item mb-2" *ngFor="let note of notes | search:searchNote">
                <div *ngIf="!note.isHidden" class="card note-card" [style.background]="note.color" (click)="editNote(note)" cdkDrag>
                    <div class="card-body">
                        <h5 class="card-title">{{note.title}}</h5>
                        <p class="card-text">{{note.content}}</p>
                        <span *ngFor="let label of note.labels" class="badge badge-pill badge-secondary mx-1">{{label}}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ./All Notes -->

</div>