.sidenav{
    min-height: 100vw;
    color:white;
    position: fixed;
    width: 20%;

    .nav-item{
        font-size: 18px;
        text-transform: capitalize;
        line-height: 40px;


        .fa{
            margin: 0 1rem;
        }

        .subtitle{
            color: azure;
            font-size: small;
        }
    }
}

.fa.fa-lightbulb-o.turn-on{
    color: #FFDD1B;
    animation-name: turnon-bulb;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}




@-webkit-keyframes turnon-bulb{

    to {
        
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
        
    }
}