.sidenav{
    min-height: 100vw;
    color:white;
    position: fixed;
    width: 20%;

    .nav-item{
        font-size: 18px;
        text-transform: capitalize;
        line-height: 40px;


        .fa{
            margin: 0 1rem
        }

        .subtitle{
            color: azure;
            font-size: small;
        }
    }
}